<h1>New User Profile</h1>

<%= form_with model: @user do |form| %>
<%= form.label "Name" %>
<br>
<%= form.text_field :name %>
<br>
<%= form.label "Username" %>
<br>
<%= form.text_field :username %>
<br>
<%= form.label "Password" %>
<br>
<%= form.password :password %>
<br>
<%= form.submit "Add User" %>
<% end %>