<!DOCTYPE html>
<html>
  <head>
    <title>HauntedHouse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
<br>
<br>
    <div class="footer">
      <div class="pure-menu-horizontal">
        <span>
          <%= link_to "home", users_path %>
        </span>    
      </div>
    </div>
    
  </body>
</html>
